<% provide :title , "My Profile" %>
<div class='row'>
  <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
    <h1>My Profile</h1>
      <p><strong>Email: </strong> <%= @user.email %></p>
      <p><strong>Name: </strong> <%= @user.name %></p>
      <% if current_user? @user %>
      
        <div class='row'>
          <div class='col-sm-4' style='margin-bottom : 10px'><%= link_to "View your account books" , account_books_path, :class => "btn btn-success wide-btn" %></div>
          <div class='col-sm-4' style='margin-bottom : 10px'><%= link_to "Editable account books" , account_books_path, :class => "btn btn-primary wide-btn" %></div>
          <div class='col-sm-4' style='margin-bottom : 10px'><%= link_to "Viewable account books" , account_books_path, :class => "btn btn-default wide-btn" %></div>
        </div>
      <% end %>
  </div>
</div>
<div class='row'>
  
</div>