<% # think of some way of drying this up %>
<script id='accounting_record_template' type='x-tmpl-mustache'>
<div id='{{ record_type }}_{{ record_count }}'>
  <h4>Record {{ index }}</h4><button class="btn btn-warning" onclick="return remove_record('{{ record_count}}' , '{{ record_type}}' , 'Are sure you want to remove this accounting record of {{ type }} the {{ account_name }} account by {{ amount }} units of money')">Remove record</button>
  <input id="accounting_transaction_{{ record_type }}_attributes_{{ record_count }}_id" name="accounting_transaction[{{ record_type }}_attributes][{{ record_count }}][id]" type="hidden" value="{{ record_id }}">
  <input id="accounting_transaction_{{ record_type }}_attributes_{{ record_count }}__destroy" name="accounting_transaction[{{ record_type }}_attributes][{{ record_count }}][_destroy]" type="hidden" value="">
  <div class='form-group'>
    <label for="accounting_transaction_{{ record_type }}_attributes_{{ record_count }}_account_name">Account name</label>
    <input class="form-control" id="accounting_transaction_{{ record_type }}_attributes_1_account_name" name="accounting_transaction[{{ record_type }}_attributes][{{record_count}}][account_name]" type="text" value="{{ account_name }}"/>
    </div>
    <div class="form-group">
      <label for="accounting_transaction_{{ record_type }}_attributes_{{ record_count }}_account_type">Account type</label>
      <select class="form-control" id="accounting_transaction_{{ record_type }}_attributes_{{ record_count }}_account_type" name="accounting_transaction[{{ record_type }}_attributes][{{ record_count }}][account_type]">
        <option {{ selected_blank }} value=""></option>
        <option {{ selected_asset }} value="asset">asset</option>
        <option {{ selected_equity }} value="equity">equity</option>
        <option {{ selected_liability }} value="liability">liability</option>
      </select>
    </div>
  <div class='form-group'>
    <label for="accounting_transaction_{{ record_type }}_attributes_{{ record_type }}_amount">Amount</label>
    <input class="form-control" id="accounting_transaction_{{ record_type }}_attributes_1_amount" name="accounting_transaction[{{ record_type }}_attributes][{{ record_count }}][amount]" type="text" value="{{ amount }}"/>
  </div>
</div>
</script>
<%= javascript_tag do %>
  var debit_record_count = <%= @accounting_transaction.debit_records.count || 0 %>
  var credit_record_count = <%= @accounting_transaction.credit_records.count || 0 %> 
<% end %>
<div id='target'>

</div>
<div class='row'>
  <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
    <% if @accounting_transaction.id %>
      <div class='row'>
        <div class='col-sm-10'><h2>Update existing accounting transaction for <%= link_to_account_book  %></h2></div>
        <div class='col-sm-2'><h2 style='text-align : left'><%= link_to "delete" , { :controller => "accounting_transactions" , :action => "destroy" } , :method => "delete" , :class => "btn btn-danger" , :data => { :confirm => "Are you sure you want to delete this transaction?" } %></h2></div>
      </div>
    <% else %>
      <h2>Create a new accounting transaction for <%= link_to_account_book %></h2>
    <% end %>
    <% 
    if @accounting_transaction.id
      form_url = { :action => "update" , :controller => "accounting_transactions" , :account_book_id => @accounting_transaction.account_book.id , :id => @accounting_transaction.id }
    else
      form_url = { :action => "create" , :controller => "accounting_transactions" , :account_book_id => @accounting_transaction.account_book.id }
    end
    %>
    <%= form_for(@accounting_transaction , :url =>  form_url, :html => { 
      :method => (@accounting_transaction.id ? "patch" : "post") 
      }) do |f| %>
      <%= render "shared/error_messages" , object: f.object %>
      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, :class => "form-control" , :required => true %>
      </div>
      <div class="form-group">
          <%= f.label :created_at , "Date / Time of transaction (defaults to date of transaction creation)" %>
          <%= f.datetime_local_field :created_at , :class => "form-control" %>
      </div>
      <div class='row'>
        <div id='debit_records' class='col-sm-6'>
          <h2>Debit Records</h2><button type="button" id='create_new_debit_entry' class="btn btn-default">Add new debit record</button>
          <script>
              <% @accounting_transaction.debit_records.each_with_index do |r , index| %>
              create_content("debit" , { record_count: "<%= index %>" , record_id: "<%= r.id %>" , account_name: "<%= r.account_name %>" , account_type: "<%= r.account_type %>" , amount: "<%= r.amount %>" } )
            <% end %>
          </script>
        </div>
        <div id='credit_records' class='col-sm-6'>
          <h2>Credit Records</h2><button type="button" id='create_new_credit_entry' class="btn btn-default">Add new credit record</button>
          <script>
              <% @accounting_transaction.credit_records.each_with_index do |r , index| %>
              create_content("credit" , { record_count: "<%= index %>" , record_id: "<%= r.id %>" , account_name: "<%= r.account_name %>" , account_type: "<%= r.account_type %>" , amount: "<%= r.amount %>" } )
            <% end %>
          </script>
        </div>

      </div>
      <br />
      <div class='row'>
      <% if @accounting_transaction.id %>
        <div class='col-sm-6'><%= f.submit "update transaction" , :class => "btn btn-primary" %></div>
      <% else %>
        <div class='col-sm-6'><%= f.submit "create transaction" , :class => "btn btn-primary" %></div>
      <% end %>
      </div>
    <% end %>
    <br />  
  </div>
</div>