<div class='form-group'>
  <%= f.fields_for(record_type.to_sym) do |ff| %>
    <h4>Record</h4>
    <%= ff.hidden_field :id %>

    <div class='form-group'>
      <%= ff.label :account_name %>
      <%= ff.text_field :account_name, :class => "form-control" %>
      </div>
    <div class='form-group'>
      <%= ff.label :account_type %>
      <%= ff.select :account_type, ["asset" , "equity" , "liability"],  { :include_blank => true }, { :class => "form-control" } %>
    </div>
    <div class='form-group'>
      <%= ff.label :amount %>
      <%= ff.text_field :amount, :class => "form-control" %>
    </div>
  <% end %>
</div>
